<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/icons/forest.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/icons/forest.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/icons/forest.png">
<link rel="manifest" href="{{site.baseurl}}/assets/images/icons/site.webmanifest">
<link rel="mask-icon" href="{{site.baseurl}}/assets/images/icons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- <a href="https://www.flaticon.com/free-icons/drink" title="drink icons">Drink icons created by smalllikeart - Flaticon</a> -->
<!-- end custom head snippets -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8280226769394315"
     crossorigin="anonymous"></script>